<!-- Full Width Column -->
<div class="content-wrapper">
    <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Top Navigation
                <small>Example 2.0</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Layout</a></li>
                <li class="active">Top Navigation</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="col-md-4">
                <div class="row">
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-light-blue">
                            <div class="widget-user-image">
                                <img class="img-circle" src="chat/img/php-icon.png" alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Programing Language PHP</h3>

                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li><a href="#">Members <span class="pull-right badge bg-blue">31</span></a></li>
                                <li><a href="#">Language <span class="pull-right badge bg-aqua">PHP</span></a></li>
                                <li><a href="#">Category<span class="pull-right badge bg-green">Education</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Online</h3>
                            <span class="badge bg-light-blue count" id="total_online_room_users">5</span>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" id="online_room_users">


                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>


            </div>
            <div class="col-md-8 no-padding-right">
                <div class="box box-primary direct-chat direct-chat-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Direct Chat</h3>


                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages" id="area-list-messages">
                            <% roomMessages.forEach(roomMessage => { %>
                                <% 
                                    let right = '';
                                    let direct_chat_name = 'pull-left';
                                    let direct_chat_timestamp = 'pull-right';
                                    if (roomMessage.username == userInfo.username) {
                                        right = 'right';
                                        direct_chat_name = 'pull-right';
                                        direct_chat_timestamp = 'pull-left';
                                    }
                                    %>
                                    <div class="direct-chat-msg <%= right %> ">
                                        <div class="direct-chat-info clearfix">
                                            <span class="direct-chat-name <%= direct_chat_name %>"><%= roomMessage.username %></span>
                                            <span class="direct-chat-timestamp <%= direct_chat_timestamp %>"><%= roomMessage.time %></span>
                                        </div>
                                        <!-- /.direct-chat-info -->
                                        <img class="direct-chat-img" src="chat/img/user1-128x128.jpg" alt="Message User Image">
                                        <!-- /.direct-chat-img -->
                                        <div class="direct-chat-text">
                                            <%- roomMessage.content %>

                                        </div>
                                        <!-- /.direct-chat-text -->
                                    </div>
                                    <% });  %>

                        </div>
                        <!--/.direct-chat-messages-->

                        <!-- Contacts are loaded here -->
                        <div class="direct-chat-contacts">
                            <ul class="contacts-list">
                                <li>
                                    <a href="#">
                                        <img class="contacts-list-img" src="chat/img/user1-128x128.jpg" alt="User Image">

                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                              Count Dracula
                              <small class="contacts-list-date pull-right">2/28/2015</small>
                            </span>
                                            <span class="contacts-list-msg">How have you been? I was...</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                    </a>
                                </li>
                                <!-- End Contact Item -->
                            </ul>
                            <!-- /.contatcts-list -->
                        </div>
                        <!-- /.direct-chat-pane -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <form target="_self" method="POST" id="chat_form" onsubmit="send_message();return false">
                            <div class="input-group">
                                <input type="text" name="message" id="message" placeholder="Type Message ..." class="form-control">
                                <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat">Send</button>
                      </span>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-footer-->
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</div>
<input type="hidden" id="roomID" value="<%= roomID %>">
<input type="hidden" id="username" value="<%= userInfo.username %>">

<script src="socket.io/socket.io.js"></script>
<script>
    var chat_message = document.getElementById("message");
    var roomID = document.getElementById("roomID");
    var username = document.getElementById("username");
    var online_room_users = document.getElementById("online_room_users");
    var total_online_room_users = document.getElementById("total_online_room_users");
    var listRoomMessages = document.getElementById("area-list-messages");
    let thisUser = "<%= userInfo.username %>";
    let socket = io.connect("http://localhost:3000");
    socket.on("connect", () => {
        let data = {
            roomID: roomID.value,
            username: username.value
        };
        socket.emit("user_join_room", data);
        socket
    });
    // server send room message
    socket.on("server_return_room_message", (data) => { //nhận tin nhắn từ server gửi tới tất cả user ở public
        let right = '';
        let direct_chat_name = 'pull-left';
        let direct_chat_timestamp = 'pull-right';

        if (thisUser === data.username) {
            right = 'right';
            direct_chat_name = 'pull-right';
            direct_chat_timestamp = 'pull-left';
        }
        var html = `
        <div class="direct-chat-msg ${right}">
            <div class="direct-chat-info clearfix">
                <span class="direct-chat-name ${direct_chat_name}">${data.username}</span>
                <span class="direct-chat-timestamp ${direct_chat_timestamp}">${data.time}</span>
            </div>

            <img class="direct-chat-img" src="chat/img/user1-128x128.jpg" alt="Message User Image">

            <div class="direct-chat-text">
                ${data.content}
            </div>

        </div>`;

        listRoomMessages.innerHTML += html;
    });
    // end server send room message
    socket.on("online_room_users", (data) => {
        var html = '';
        data.forEach(element => {
            if (element.username !== username.value) {
                html += `
                    <div class="user">
                        <div class="col-md-8 user-avatar">
                            <img class="contacts-list-img" src="chat/img/user1-128x128.jpg" alt="User Image">
                            <h5>${element.username}</h5>
                        </div>
                        <div class="col-md-4"><button type="button" class="btn btn-block btn-primary btn-sm btn-w">Add friend</button></div>
                    </div>
                    `;
            }

        });
        online_room_users.innerHTML = html;
        total_online_room_users.innerHTML = data.length - 1;
    });
    // send message in room
    function send_message() {
        var content = chat_message.value;
        content = emoji(content);
        socket.emit('client_send_room_message', { //gửi tin nhắn lên server để server gửi tin nhắn tới tất cả user ở public
            content: content,
            username: username.value,
            room: roomID.value,
        });
        //remove text after send
        chat_message.value = '';
        // remove emoji
        // emoji.data("emojioneArea").setText('');
    };
</script>